#characters {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.characterToolbar {
    border: 1px solid grey;
    margin: 16px;
    padding: 16px;
    background-color: #FEE4Af;
}

.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    overflow: auto;
    padding-bottom: 128px;
}

th {
    text-align: left;
}

.portrait {
    min-width: 256px;
    min-height: 256px;
    max-height: 256px;
    overflow: hidden;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #752B0D;
    margin: 0px 20px 20px 0px;
    background-color: #FEE4AF;
}

.portrait.small {
    border: 1px solid #F6C181;
    min-width: 64px;
    min-height: 64px;
    max-height: 64px;
    border-radius: 16px;
}

.portrait.tiny {
    border: none;
    min-width: 24px;
    min-height: 24px;
    max-height: 24px;
    margin: 0px;
    padding: 0px;
}

.portraitName {
    padding-bottom: 10px;
    min-height: 246px;
    max-height: 246px;
    text-align: right;
    vertical-align: middle;
    font-size: 2em;
    background: #BE6E42;
    color: white;
    cursor: pointer;
    border: 4px solid #BE6E42;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.portraitNameVisible {
    min-width: 256px;
    min-height: 256px;
    max-height: 256px;
    margin-top: 8px;
    margin-left: -272px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    background: #BE6E42;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    cursor: pointer;
    border: 4px solid rgba(0,0,0,0);
}

.portraitContainer {
    display: flex;
}

.portraitContainer:hover .portraitName {
    background: #ECA15E;
    border-color: #ECA15E;
    color: black;
}

.portraitContainer:hover .portrait {
    background: #FEE4AF;
}

.characterSheet {
    width: 90%;
    height: 90vh;
    display: flex;
    background: #FFE5B0;
    border: 8px solid black;
}

.characterSheet .label {
    font-weight: bold;
}

.characterSheet input {
    padding: 0;
    width: auto;
}

.characterSheet .value {
    border-bottom: 1px solid #742A00;
    min-height: 1em;
}

.characterSheet .section {
    margin: 0.5em;
    padding: 0.5em;
    overflow-y: auto;
}

.characterSheet .section.label {
    text-align: center;
    border: 0px;
    padding: 0;
}

.characterSheet .section.label.below {
    margin-top: -0.6em;
}

.characterSheet .section.label.above {
    margin-bottom: -0.6em;
}

.characterSheet .column {
    display: flex;
    flex-direction: column;
}

.characterSheet .column_1 {
    flex-basis: 20%;
}

.characterSheet .column_2 {
    flex-basis: 20%;
}

.characterSheet .column_3 {
    flex-basis: 20%;
}

.characterSheet .column_4 {
    flex-basis: 40%;
}

.characterSheet .section.backstory {
    border: 2px solid #B44D21;
    background-color: #FFFBE0;
    padding: 0.5em;
    flex: auto;
}

.characterSheet .section.info {
    background-color: #F7C280;
}

.characterSheet .section.personality {
    border: 2px solid #B44D21;
    background-color: #FFFBE0;
}

.characterSheet .favorites.section {
     border-top: 2px solid #B44D21;
}

.characterSheet .label.flag {
    text-align: center;
}

.characterSheet .section.flag {
    margin: 0;
    padding: 0;
}

.characterSheet .flags {
    display: flex;
    max-width: 220px;
    min-width: 220px;
    flex-wrap: wrap;
}

.characterSheet .flagImage {
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    max-height: 50px;
    margin-right: 4px;
    margin-left: 4px;

    background-repeat: no-repeat;
    background-size: contain;
}

.characterSheet .preferences {
    display: flex;
}

.characterSheet .preferences .section {
    font-size: 0.75em;
    flex-basis: 50%;
}

.characterSheet .preferences > div {
    background-color: #FFFBE0;
    border: 2px solid #B44D21;
}

.characterSheet .relationships {
    flex: auto;
    background-color: #F7C280;
}

.characterSheet .notes {
    background-color: #F7C280;
}

.characterSheet .relationships .section.label {
    text-align: left;
}

.characterSheet hr {
    border: 2px solid #B34E24;
}

.characterSheet .row {
    display: flex;
}

.characterSheet .row1 .section {
    flex-basis: 50%;
    background-color: #FFFBE0;
    border: 2px solid #B44D21;
}

.characterSheet .section.health .label {
    text-align: center;
}

.characterSheet .row2 .section {
    flex-basis: 30%;
    background-color: #FFFBE0;
    border: 2px solid #B44D21;
}

.characterSheet .section.skills .label {
    text-align: center;
}

.section.alive {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    display: table;
}

.section.alive span {
    display: table-cell;
    vertical-align: middle;
}

.section.religion div {
    white-space: nowrap
}

.characterSheet .row3 .section {
    flex-basis: 50%;
    background-color: #FFFBE0;
    border: 2px solid #B44D21;
}

.characterSheet .row4 .section {
    flex-basis: 100%;
    background-color: #FFFBE0;
    border: 2px solid #B44D21;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.sheetImage {
    flex-basis: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFBE0;
    background-position: center;
    border: 2px solid #B44D21;
    cursor: pointer;
}

.sheetName {
    font-size: 3em;
}

.sheetProperties {
    overflow-y: auto;
    margin-left: 1em;
    width: 100%;
}

table.properties {
    border-collapse: collapse;
}

table.properties tr {
    border-bottom: 1px solid grey;
}

hr.separator {
    height: 3px;
    border: none;
    background: black;
    margin-top: -20px;
}

table.properties th {
    white-space: nowrap;
    padding-right: 1em;
}

.characterGroupHeader {
    margin: 1em 0em;
    width: 100%;
    padding: 8px;
    font-size: 2em;
    border: 2px solid #B34E24;
    color: #B34E24;
}

.characterGroupHeader.dark {
    color: #FEE4AF;
}

tr.headerRow {
    border: none;
}

tr.headerRow th {
    padding-top: 1em;
    vertical-align: bottom;
}

.column_4 .row1 {
    flex-basis: 30%;
    overflow-y: auto;
}

.column_4 .row2 {
    flex-basis: 30%;
    overflow-y: auto;
}

.column_4 .row3 {
    flex-basis: 30%;
    overflow-y: auto;
}

.column_4 .row4 {
    flex-basis: 10%;
    overflow-y: auto;
}

.characterImageContainer {
    width: 90%;
    height: 90vh;
    display: flex;
    background: #FFE5B0;
    border: 8px solid #742A00;
    flex-direction: column;
}

.characterImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: auto;
}

.characterImageTitle {
    text-align: center;
    font-size: 2em;
    border-bottom: 2px solid #742A00;
    margin-bottom: 8px;
}

.characterImageDescription {
    text-align: center;
    font-style: italic;
    border-top: 1px solid #742A00;
    margin-top: 8px;
}
