#chat {
    align-content: start;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 12px;
}

.conversationContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--button-background-color);
    border: 2px solid var(--button-color);
    margin-bottom: 16px;
    padding: 8px;
    color: var(--button-color);
    font-size: 2em;
    cursor: pointer;
}

.conversationContainer:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
}

.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chatMessages {
    flex: 1;
    border: 1px solid var(--toolbar-border-color);
    overflow-y: auto;
    white-space: normal;
    background: var(--chat-background-color);
    color: var(--chat-color);
}

.newChat, .anonymous {
    background-image: url('../image/ui/blank-profile.png');
}

.newChatHeader {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.chatCharacterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#chat .portraitContainer {
    margin-top: 1em;
}

.chatInput textarea {
    border-radius: 13px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 17px 85px 17px 15px;
    font-family: inherit;
    font-size: 1em;
    outline: none;
    background: var(--input-background-color);
    color: var(--input-color);
}

.chatInput textarea::placeholder {
    color: var(--placeholder-color);
}

.chatInputContainer {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 850px;
    text-align: center;
    padding: 0px 45px 0 45px;
}

.chatInput {
    position: relative;
}

.chatInput button {
    position: absolute;
    background: var(--button-background-color);
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px 7px 7px;
    border: none;
    margin-top: -2px;
}

.sendAgentButton {
    right: 0px;
}

.sendMessageButton {
    right: 40px;
    width: 32px;
}

.message {
    display: flex;
    gap: 20px;
    padding: 25px 60px 15px 60px;
    border-bottom: 1px solid;
    font-size: 0.95em;
    position: relative;
    cursor: pointer;
}

.identity {
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
}

.message.user .identity {
    background-image: url('../image/ui/blank-profile.png');
}

.message.assistant {
    flex-direction: row-reverse;
}

.message .content {
    padding-top: 5px;
    width: 100%;
}

.message.assistant .content {
    text-align: end;
}

.messageEditorToolbar {
    display: flex;
}

.toolbarFiller {
    flex: auto;
}

#cursor {
    width: 16px;
    height: 20px;
    background-color: var(--cursor-color);
    display: inline-block;
    animation: blink 1s infinite;
}

.chatTimeContainer {
    margin-right: 1em;
}

.messageTextAreaContainer textarea {
    color: var(--input-color);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}