.editorContainer {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.editor {
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.editing {
    overflow: auto;
}

.editingPortrait {
    min-width: 128px;
    min-height: 512px;
    max-height: 512px;
    overflow: hidden;
    margin: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left top;
    border: 4px solid #D08856;
    background-color: #FEE4AF;
}

.editorName {
    font-size: 1.5em;
    font-weight: bold;
    color: #B34E24;
}

.portraitCenter {
    position: relative;
    border: 2px solid red;
    pointer-events: none;
}

.editorHeader {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    width: 280px;
}

div.save {
    display: flex;
    align-items: center;
}

.propertySelectContainer {
    margin-top: -20px;
    margin-bottom: 20px;
}

.propertySelectContainer select {
    width: 640px;
}

.propertySelectContainer select option {
    font-size: 1.5em;
    padding: 4px;
}

div#characterEditor {
    margin-top: 1em;
}
