.flashCard {
    min-width: 256px;
    min-height: 256px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flashCardContainer {
    border: 4px solid #CE8746;
    margin: 8px;
    background-color: #FFF2CE;
}

#flashCards {
    justify-content: center;
    align-items: center;
}

.flashCardAnswers ul li {
    color: #B1693B;
    font-size: 1.5em;
    cursor: pointer;
}

.flashCardAnswers ul li:hover {
    background: #F6C181;
    color: black;
    border-radius: 20px;
}

.flashCardFinishedTitle {
    background-color: #FFF2CE;
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.flashCardCorrect {
    background: #8FC346;
    color: black;
    text-align: center;
    padding: 8px;
}

.flashCardWrong {
    background: #DB512D;
    color: white;
    text-align: center;
    padding: 8px;
}

.flashCardAnswers ul li {
    font-size: 1.5em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    list-style-type: square;
    width: 10em;
}
