.flashCard {
    min-width: 256px;
    min-height: 256px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flashCardContainer {
    border: 4px solid var(--tile-border-color);
    margin: 8px;
    background-color: var(--tile-background-color);
}

#flashCards, #renameFlashcards {
    justify-content: center;
    align-items: center;
}

.flashCardAnswers ul li {
    color: var(--button-color);
    font-size: 1.5em;
    cursor: pointer;
}

.flashCardFinishedTitle {
    background-color: var(--popup-inner-background-color);
    color: var(--popup-inner-color);
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.flashCardCorrect {
    background: #8FC346;
    color: black;
    text-align: center;
    padding: 2em 20em;
    width: 10em;
}

.flashCardWrong {
    background: #DB512D;
    color: white;
    text-align: center;
    padding: 2em 20em;
    width: 10em;
}

.flashCardAnswers ul li {
    font-size: 1.5em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    list-style-type: square;
    width: 10em;
}

.oldName {
    background-color: var(--name-background-color);
    color: var(--name-color);
    text-align: center;
    font-style: italic;
}

@media (hover: hover) {
    .flashCardAnswers ul li:hover {
        background: var(--button-hover-background-color);
        color: var(--button-hover-color);
        border-radius: 20px;
    }
}
