#info {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal {
    display: flex;
}

.horizontal.contact {
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal div {
    margin: 1em;
    background-color: #FFECC0;
    border-radius: 20px;
    padding: 1em;
}

.icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon.large {
    width: 400px;
    height: 400px;
}

.icon.game {
    text-align: center;
    vertical-align: middle;
}

.contact {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.game {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background-color: white;
}

.slideshow {
    border: 2px solid black;
}

.horizontal.large div {
    background-color: rgba(0, 0, 0, 0);
}