html,body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background: #FFFADF;
    overscroll-behavior-y: none;
    overflow: hidden;
    user-select: none;
}

select {
    background-color: #FFFAE0;
}

textarea {
    background-color: #FEE4AF;
    border: 1px solid #D08856;
}

.tile {
    color: #752C0E;
    width: 5em;
    min-width: 5em;
    height: 5em;
    min-height: 5em;
    justify-content: center;
    align-items: center;
    border: 1px solid #752C0E;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    background-color: white;
    cursor: pointer;
}

.tile div {
    display: flex;
    text-align: center;
}

.tile:hover {
    text-decoration: underline;
    background-color: #FEE4AF !important;
}

.tile a {
    text-decoration: none;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar {
    display: flex;
    border: 1px solid #752C0E;
    background: #F8D8A4;
}

.tabButtons {
    display: flex;
    flex: auto;
    overflow-x: auto;
}

.toolbarButton {
    background: #FFBF80;
    border: 1px solid #752C0E;
    padding: 2px 12px;
    cursor: pointer;
    color: #B1693B;
    white-space: nowrap;
}

.toolbarButton:hover {
    background: #E8A25E;
    color: #9E542C;
}

.tabLink a {
    text-decoration: none;
    color: black;
}

.tabLink:hover {
    background: #228;
    color: white;
}

.tabLink:hover a {
    color: white;
}

.tabButton.active {
    background: #FF7851;
    cursor: default;
    color: black;
}

.tab {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    overflow: auto;
    height: 100%;
    flex: 1;
    padding-bottom: 16px;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(-45deg, rgba(0,0,0,0.1), rgba(0,0,0,0.90));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.statusPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
}

.statusPopupContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popupInnerContent {
    background: white;
    padding: 2em;
}

#home {
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.infoButton {
    flex: 1;
    display: flex;
}

.infoButton .navigation {
    flex: 1;
    background: url('../image/logos/diviinity.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    width: 614px;
    height: 429px;
    min-width: 614px;
    min-height: 429px;
}

.buttonContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: auto;
}

