div#minii {
    background-color: #9ABa46;
}

.miniContainer {
    flex: 1;
    position: relative;
    touch-action: none;
}

.miniLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    transform-origin: top left;
    width: 604px;
    height: 463px;
    image-rendering: pixelated;
}

.miniBackground {
    z-index: 0;
}

.miniBackground.midlands {
    background-image: url('../image/mini/scenes/midlands/background.png');
}

.miniForeground {
    position: relative;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    image-rendering: pixelated;
    z-index: 1500;
    pointer-events: none;
}

.miniForeground.midlands {
    background-image: url('../image/mini/scenes/midlands/foreground.png');
}

.midlandsTree {
    z-index: 2;
    background-image: url('../image/mini/scenes/midlands/tree.png');
}

.midlandsBushes {
    z-index: 2;
    background-image: url('../image/mini/scenes/midlands/bushes.png');
}

.midlandsRocks {
    z-index: 2;
    background-image: url('../image/mini/scenes/midlands/rocks.png');
}

.miniZoomOutButton {
    background-image: url('../image/buttons/zoom_out.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 4px;
    top: 48px;
    cursor: pointer;
    z-index: 2000;
}

.miniZoomInButton {
    background-image: url('../image/buttons/zoom_in.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 4px;
    top: 8px;
    cursor: pointer;
    z-index: 2000;
}

.miniZoomOutButton.disabled, .miniZoomInButton.disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.miniCharacter {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
}
