.miniContainer {
    flex: 1;
    position: relative;
}

.miniBackground {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    transform-origin: top left;
    width: 345px;
    height: 243px;
    image-rendering: pixelated;
}

.miniBackground.midlands {
    background-image: url('../image/mini/scenes/midlands/background.png');
}

.midlandsTree {
    z-index: 2;
    background-image: url('../image/mini/scenes/midlands/tree.png');
    position: absolute;
    left: 0px;
    top: 0px;
    width: 345px;
    height: 263px;
    image-rendering: pixelated;
}

.miniZoomOutButton {
    background-image: url('../image/buttons/zoom_out.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 4px;
    top: 48px;
    cursor: pointer;
}

.miniZoomInButton {
    background-image: url('../image/buttons/zoom_in.png');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 4px;
    top: 8px;
    cursor: pointer;
}

.miniZoomOutButton.disabled, .miniZoomInButton.disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.miniCharacter {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
}
