.quizList {
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.quizOption {
    font-size: 3em;
    padding: 16px;
    margin: 32px;
    cursor: pointer;
    background: #FEE4AF;
    color: #B1693B;
    border-radius: 20px;
}

.quizQuestion {
    flex-direction: column;
}

.quizOption:hover {
    background: #F6C181;
    color: black;
}

.quizQuestionQuestion {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}

.quizQuestionAnswers ul li {
    color: #B1693B;
    font-size: 1.5em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    list-style-type: square;
}

.quizQuestionAnswers ul li:hover {
    background: #F6C181;
    color: black;
    border-radius: 20px;
}

@media (hover: none) {
    .quizOption:hover {
        background: inherit;
        color: inherit;
    }
    .quizQuestionAnswers ul li:hover {
        background: inherit;
        color: inherit;
    }
}

.quizFinishedTitle {
    background-color: #FFF2CE;
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.quizCorrect {
    background: #8FC346;
    color: black;
    text-align: center;
    padding: 8px;
}

.quizWrong {
    background: #DB512D;
    color: white;
    text-align: center;
    padding: 8px;
}

.chosenContainer {
    color: #B34E24;
    background-color: #FFF2CE;
    padding: 1em;
    border-radius: 25px;
}

.chosenCharacter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chosenName {
    font-size: 2em;
    font-weight: bold;
    margin-left: 8px;
}

.detailsButton {
    cursor: pointer;
    color: #E2A36A;
}

.detailsButton:hover {
    text-decoration: underline;
    color: black;
}

.details {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.primaryMatch {
    font-weight: bold;
    font-size: 1.5em;
    color: #D08856;
    text-align: center;
    margin-bottom: 1em;
}

.secondaryMatch {
    color: #E2A36A;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondaryMatches {
    overflow: auto;
    flex: 1;
    background-color: #FFF2CE;
    border-radius: 24px;
    padding: 1em;
}

.matchLabel {
    color: #E2A36A;
}

.noMatch {
    font-size: 2em;
    font-weight: bold;
    color: darkred;
}

.chosenDescription {
    max-width: 50%;
}
