.quizList {
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.quizOption {
    font-size: 3em;
    padding: 16px;
    margin: 32px;
    cursor: pointer;
    background: var(--tile-background-color);
    color: var(--tile-color);
    border-radius: 20px;
}

.quizQuestion {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex: 1;
}

.quizOption:hover {
    background: var(--tile-hover-background-color);
    color: var(--tile-hover-color);
}

.quizQuestionQuestion {
    font-size: 2em;
    font-weight: bold;
}

.quizQuestionAnswers {
    overflow: auto;
    flex: 1;
}

.quizQuestionAnswers ul li {
    color: var(--button-color);
    font-size: 1.5em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    list-style-type: square;
}

.quizQuestionAnswers ul li:hover {
    background: var(--button-hover-background-color);
    color: var(--button-hover-color);
    border-radius: 20px;
}

@media (hover: none) {
    .quizOption:hover {
        background: inherit;
        color: inherit;
    }
    .quizQuestionAnswers ul li:hover {
        background: inherit;
        color: inherit;
    }
}

.quizFinishedTitle {
    background-color: var(--popup-inner-background-color);
    color: var(--popup-inner-color);
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.quizCorrect {
    background: #8FC346;
    color: black;
    text-align: center;
    padding: 8px;
}

.quizWrong {
    background: #DB512D;
    color: white;
    text-align: center;
    padding: 8px;
}

.chosenContainer {
    color: var(--popup-inner-color);
    background-color: var(--popup-inner-background-color);
    padding: 1em;
    border-radius: 25px;
}

.chosenCharacter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chosenName {
    font-size: 2em;
    font-weight: bold;
    margin-left: 8px;
}

.detailsButton {
    cursor: pointer;
    color: var(--button-color);
}

.detailsButton:hover {
    text-decoration: underline;
    color: var(--button-hover-color);
}

.details {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.primaryMatch {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--input-border-color);
    text-align: center;
    margin-bottom: 1em;
}

.secondaryMatch {
    color: var(--popup-inner-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondaryMatches {
    overflow: auto;
    flex: 1;
    background-color: var(--popup-inner-background-color);
    border-radius: 24px;
    padding: 1em;
}

.matchLabel {
    color: var(--name-color);
}

.noMatch {
    font-size: 2em;
    font-weight: bold;
    color: darkred;
}

.chosenDescription {
    max-width: 50%;
}
