#relationships {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.relationship {
    margin-bottom: 64px;
    margin-right: 128px;
}

.relationship table {
    border-collapse: collapse;
    border-spacing: 0;
}

td.relationshipMainCharacter {
    width: 256px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid var(--tile-border-color);
    background-position: center;
    background-color: var(--tile-background-color);
}

td.relationshipCharacter {
    width: 128px;
    height: 128px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid var(--tile-border-color);
    background-color: var(--tile-background-color);
    border-radius: 20px;
}

td.relationshipFiller {
    height: 42px;
}

td.relationshipType {
    border: 2px solid var(--tile2-border-color);
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: var(--tile2-background-color);
    color: var(--tile2-color);
}
