#relationships {
    flex-direction: row;
    flex-wrap: wrap;
}

.relationship {
    margin-bottom: 64px;
    margin-right: 128px;
}

.relationship table {
    border-collapse: collapse;
    border-spacing: 0;
}

td.relationshipMainCharacter {
    width: 256px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #B34E24;
    background-position: center;
    background-color: #FEE4AF;
}

td.relationshipCharacter {
    width: 128px;
    height: 128px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #B34E24;
    background-color: #FFF2CE;
    border-radius: 20px;
}

td.relationshipFiller {
    height: 42px;
}

td.relationshipType {
    border: 2px solid #B34E24;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: #FFFCED;
    color: #BE6E42;
}
