#tierLists {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    overscroll-behavior: none;
    padding-bottom: 64px;
    padding-right: 100px;
}

#tierLists .option {
    font-size: 3em;
    padding: 16px;
    margin: 32px;
    cursor: pointer;
    background: #FEE4AF;
    color: #B1693B;
    border-radius: 25px;
}

#tierLists .option:hover {
    background: #F6C181;
    color: black;
}

#tierLists .title {
    font-size: 3em;
    font-weight: bold;
    padding: 0.2em;
    color: #B34E24;
}

#tierLists .tier {
    display: flex;
    flex-wrap: wrap;
}

#tierLists .tier .label {
    padding: 4px;
    height: 128px;
    color: #B34E24;
    max-width: 64px;
}

#tierLists .tier .label.dark {
    color: #FEE4AF;
}

.tierPortrait {
    min-width: 128px;
    min-height: 128px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tierPortrait.dragging {
    position: absolute;
}
